body {
  margin: 0;
  padding: 0;
  
  background-image: url(http://sf.co.ua/14/06/wallpaper-254915.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  color:rgb(198,153,3);

}

header {
  text-align: center;
  letter-spacing: 0.050em;
  padding:20px;
  font-family: 'Mansalva', cursive;
  font-size: xx-large;
  color: rgb(236,232,195);
}
.instructions{
  font-size: xx-large;
  font-family: 'Hammersmith One', sans-serif;
  letter-spacing: 0.030em;
}

button {
  margin: 15px;
}

.rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: rgb(198,153,3);
  border-radius: 50px;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) perspective(360px) rotateX(0deg)
      rotateY(360deg);
  }

  100% {
    transform: translate(-50%, -50%) perspective(360px) rotateX(0deg)
      rotateY(0deg);
  }
  
  100% {
    transform: translate(-50%, -50%) perspective(360px) rotateX(0deg)
      rotateY(0deg);
  }
}
